.dashboard-content {
  margin-left: 10rem;
  padding: 1rem 1.4rem;
}

.dashboard-content header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dashboard-content main {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin-top: 4rem;
}