.card-content {
  width: 18rem;
  height: 8rem;
  background: var(--color-primary);
  border-radius: 0.8rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.card-content footer {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card-content {
    width: 9.5rem;
    justify-content: center;
    margin: 0 0.2rem;
  }

  .card-content span,
  .card-content footer {
    display: none;
  }

  .card-content h1 {
    font-size: 1.5rem;
  }
}

